html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .landing-container {
    background-color: #74EBFF;
    height: 100vh; 
    width: 100vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}
  
  .cake-image {
    max-width: 400px; 
    height: auto; 
    margin: 0 auto 20px; 
  }
  
  h1 {
    font-size: 40px; 
    color: #ffffff; 
    margin-bottom: 20px;
  }
  
  .button-wrapper {
    display: flex;
    justify-content: center; 
  }
  
  /* add pulse effect on hover*/
  .google-signin-button,
  .signup-button {
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 10px; 
    background-color: #FFD700;
    color: #ffffff; 
    padding: 10px 20px; 
    cursor: pointer; 
    margin: 0 10px;
    min-width: 200px;
    height: 50px;
    font-size: large;
    transition: transform 0.2s; 
  }

  .google-signin-button{  
    margin-top: 15px;
  }


  .google-signin-button:hover,
.signup-button:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.google-signin-button:active,
.signup-button:active {
    transform: scale(0.95);
    transition: transform 0.2s;
    animation: pulse 0.5s ease infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95);
    }
}


  